.header {
  display: flex;
  align-items: center;
  height: 130px;
  background-color: rgb(0, 0, 0);
  color: white;
  margin-bottom: -1.31rem; 
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.header nav {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 16rem;
  padding-right: 20rem;
}

.header li {
  margin: 12px;
  font-family: "Arial";
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ;
}

.header li:hover{
  color: #C9A14A;
  transition: color 0.3s ease;
    transform: scale(1.1);
   transition: 0.5s ;
}

.Inicio {
   margin-left: 35px; 
  font-family: "Arial";
  font-size: 18px;
  cursor: pointer;
  color: #C9A14A;
  
}

.header img{
  width: 180px;
  height: 180px;
}

.header img:hover{
   transform: scale(1.1);
   transition: 0.5s ;
}

.header button{
  border-radius: 10px;
  width: 6rem;
  height: 2.2rem;
  font-family: "Arial";
  font-size: 15px;
  background-color:#C9A14A;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 400;
  box-shadow: rgb(233, 233, 233) 0px 0px 2px 0px;
   transition: 0.3s ;
}

.header button:hover{
  background-color: #e9b649;
  transition: color 0.5s ease;
  transform: scale(1.1);
   transition: 0.3s ;
   box-shadow: rgb(233, 233, 233) 0px 0px 2px 0px;
}


/* Seção do Inicio */

.InicioSection {
  
  justify-content: center;
  width: 100%;
  height: 700px;
  margin-bottom: -1.32rem;
  background-image: url('/fundoInicio.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
   display: flex;
}

.InicioSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px; 
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1.4),
    rgba(0, 0, 0, 0)
  );
  pointer-events: none;
}
.InicioSection::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 320px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.90) 20%,
    rgba(0, 0, 0, 0.35) 45%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.Titulo {
  margin-top: 3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.Titulo .Invictus{
  color: white;
  font-family: "Arial";
  font-size: 100px;
  margin-bottom: -2rem;
}

.Titulo .Barbearia{
  color: #C9A14A;
  font-family: "Arial";
  font-size: 27px;
  margin-bottom: 1rem;
}

.Titulo .FraseInicio{
  font-family: "Arial", cursive, sans-serif;
  font-size: 18px;
  color: white;
  margin-bottom: 4rem;
  font-weight: 400;
}

.Titulo .ButtonInicio{
   border-radius: 10px;
  width: 16rem;
  height: 4.5rem;
  font-family: "Arial";
  font-size: 20px;
  background-color:#C9A14A;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
  box-shadow: rgb(233, 233, 233) 0px 0px 2px 0px;
   transition: 0.3s ;
}

.Titulo .ButtonInicio:hover{
background-color: #e9b649;
  transition: color 0.5s ease;
  transform: scale(1.1);
   transition: 0.3s ;
   box-shadow: rgb(233, 233, 233) 0px 0px 2px 0px;
}

.TextCoroa {
  display: flex;
}

.TextCoroa img{
  width: 30px;
  height: 30px;
  margin-top: 0.7rem;
}

/* SEÇÃO CORTES */

.CortesSection{
  width: 100%;
  height: 850px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 100px;
  position: relative;
  overflow: visible;
}

.CortesTitulo{
  color: white;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 4px;
  margin-bottom: -0.2rem;
}

.CortesTitulo span{
  color: #C9A14A;
}

.SubtituloCortes{
  color: #ffffff;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2rem;
  font-weight: 200;
}

.CortesImg{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

/* CARD */

.item{
  position: relative;
  width: 350px;
  height: 300px;
  overflow: hidden;
  border-radius: 18px;
  border: 2px solid rgba(201,161,74,0.5);
  box-shadow:
  0 0 10px rgba(201,161,74,0.25),
  0 0 30px rgba(0,0,0,0.7);
  transition: 0.5s ease;
  cursor: pointer;
}

/* IMAGEM */

.item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
  filter: brightness(0.88);
}

/* HOVER */

.item:hover{
  transform: translateY(-10px);
  box-shadow:
  0 0 15px rgba(201,161,74,0.5),
  0 0 40px rgba(201,161,74,0.2);
}

.item:hover img{
  transform: scale(1.08);
  filter: brightness(1);
}

/* OVERLAY */

.overlay{
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 25px;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.95),
    rgba(0,0,0,0.1)
  );
  opacity: 0;
  transition: 0.4s ease;
}

/* HOVER OVERLAY */

.item:hover .overlay{
  opacity: 1;
}

/* TEXTO */

.overlay h3{
  color: white;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
  transform: translateY(20px);
  transition: 0.4s ease;
}

.overlay p{
  color: #C9A14A;
  font-size: 15px;
  transform: translateY(20px);
  transition: 0.5s ease;
}

.item:hover .overlay h3,
.item:hover .overlay p{
  transform: translateY(0);
}

/* BOTÃO */

.BotaoCortes{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 3rem;
  padding: 20px 30px;
  border-radius: 14px;
  border: 2px solid #C9A14A;
  background: transparent;
  color: #C9A14A;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
  margin-top:3rem;
}


.BotaoCortes:hover{
  background-color: #C9A14A;
  color: black;
  transform: translateY(-4px);
  box-shadow: 0 0 20px rgba(201,161,74,0.4);
}

.Linha2{
    width: 14%;
    height: 1px;
    background-color: #C9A14A;
    margin: 20px auto;
    position: relative;
    opacity: 70%;
    margin-top: -1.5rem;
    margin-bottom: 4rem;
}


.Linha2::after{
    content: "";
    width: 8px;
    height: 8px;
    background-color: #C9A14A;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

/* Seção do Preços */

.PrecosSection {
  align-items: center;
  display:flex ;
  flex-direction: column;
  width: 100%;
  height: 900px;
  background-color: #0a0a0a;
  margin-bottom: -1.39rem;
}

.PrecosSection h1{
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: -0.2rem;
}

.Serviços{
  color: #C9A14A;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 400;
}

 .PrecosSection .SubtituloPrecos{
  color:#fff;
  font-family:Arial, Helvetica, sans-serif;
  font-size:16px;
  font-weight:normal;
  margin-bottom:2rem;
}

.Card{
width: 290px;
height: 630px;
border: solid 2px #C9A14A;
border-radius: 16px;
text-align: center;
 box-shadow:
  0 0 10px rgba(201,161,74,0.25),
  0 0 30px rgba(0,0,0,0.7);
  transition: 0.5s ease;
  cursor: pointer;
}
.Card:hover{
  width: 300px;
  height: 635px;
   transform: translateY(-10px);
  box-shadow:
  0 0 15px rgba(201,161,74,0.5),
  0 0 40px rgba(201,161,74,0.2);
  text-align: center;
}


.Card h3{
  font-family: Arial, Helvetica, sans-serif;
  color: #dadada;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
}

.Card h4{
  color: #dadada ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  width: 300px;
  margin-bottom: 2rem;
  text-align: center;
}

.Card h4 strong{
  color: #C9A14A;
}

.Card h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.Card h3.CardPrecos{
  color: #C9A14A;
  font-size: 25px;
  font-family:Arial, Helvetica, sans-serif;
}

.CardPrecos2{
  color: #C9A14A;
  font-size: 40px;
  font-family:Arial, Helvetica, sans-serif;
}

.Card .Cortetext{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 2.5rem;
  color: #C9A14A;
}

.Card ul{
  padding: 0;
  margin-top: 1rem;
}

.Card ul li{
  display: flex;
  align-items: center;
  gap: 10px;
  color: #e2e2e2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  list-style: none;
  margin-bottom: 14px;
}


.Card ul li img{
  width: 18px;
  padding-left: 30px;
  height: 18px;
  object-fit: contain;
  filter: brightness(0) saturate(100%) invert(72%) sepia(33%) saturate(587%) hue-rotate(5deg) brightness(92%) contrast(88%);
}

.Card img{
  width: 85px;
  height: 85px;
  margin-top: 0.5rem;
}

 .Card .imgCard2{
  margin-bottom: 0.7rem;
 }

 .Card .Cortetext2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 3.2rem;
  color: #C9A14A;
}


.Linha{
    width: 80%;
    height: 1px;
    background-color: #C9A14A;
    margin: 20px auto;
    position: relative;
    opacity: 70%;
    margin-top: -1.5rem;
    margin-bottom: 2rem;
}

.Linha::after{
    content: "";
    width: 8px;
    height: 8px;
    background-color: #C9A14A;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.BotaoCard{
  width: 200px;
  height: 47px;
  border-radius: 14px;
  border: 2px solid #C9A14A;
  background-color: #C9A14A;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}

.BotaoCard:hover{
  background-color: #000000;
  color: #C9A14A;
  transform: translateY(-4px);
  box-shadow: 0 0 20px rgba(201,161,74,0.4);
}

.BotaoCard2{
  width: 200px;
  height: 47px;
  border-radius: 14px;
  border: 2px solid #C9A14A;
  background-color: #C9A14A;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
  display: inline;
  margin-top: 2.4rem;
}

.BotaoCard2:hover{
  background-color: #000000;
  color: #C9A14A;
  transform: translateY(-4px);
  box-shadow: 0 0 20px rgba(201,161,74,0.4);
}



.Cards{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}



/* Seção do Sobre */

.SobreSection {
  align-items: center;
  display:flex ;
  flex-direction: column;
  width: 100%;
  height: 850px;
  background-color: #000000;
  margin-bottom: -1.39rem;
}

.SobreSection h1{
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: -0.5rem;
}

.SobreSection h1 strong{
color: #C9A14A;
}

.SobreSection .SubtituloSobre{
  color:#fff;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight:normal;
  margin-bottom: 2rem;
}

.SobreSection .Icon{
  padding-top: 25px;
  width: 35px;
  height: 35px;
 margin-bottom: -2rem;
}


.ContainerSobre{
  width: 85%;
  max-width: 1300px;
  display:flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 3rem;
}

.ContainerSobre img{
  width: 600px;
  height: 450px;
  border-radius: 24px;
  border: 2px solid rgba(201,161,74,0.5);
  box-shadow:
  0 0 15px rgba(201,161,74,0.15),
  0 0 40px rgba(0,0,0,0.8);
  transition: 0.5s ease;
}

.ContainerSobre img:hover{
  width: 605px;
  height: 455px;
  transition: 0.5s ease;
  box-shadow:
  0 0 25px rgba(201,161,74,0.35),
  0 0 50px rgba(201,161,74,0.1);
}

.TextosSobre{
  display:flex;
  flex-direction: column;
  max-width: 520px;
}

.ContainerSobre .NossaSobre{
  color:#C9A14A;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: -0.5rem;
}

.ContainerSobre .TraSobre{
  color:#fff;
  font-family:Arial, Helvetica, sans-serif;
  font-size:35px;
  line-height: 52px;
  font-weight:300;
  margin-bottom: -0rem;
}

.ContainerSobre .TraSobre strong{
  color:#C9A14A;
  font-weight:500;
}

.ContainerSobre .ParaSobre{
  color:#cfcfcf;
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  width:520px;
  line-height: 32px;
  font-weight:300;
  margin-bottom: 0.5rem;
}

.QuantSobre{
  width: 65%;
  height: 5.5rem;
  background: transparent;
  border: 2px solid #C9A14A;
  border-radius: 16px;
   transition: 0.3s ease;
   display:flex;
   flex-direction:column;
}

.QuantSobre:hover{
  transition: 0.3s ease;
  transform:translateY(-1px);
    box-shadow:
  0 0 20px rgba(201,161,74,0.35),
  0 0 20px rgba(201,161,74,0.1);
}

.Quant{
  display:flex;
  justify-content:space-between;
 padding-right: 1.5rem;
  margin-bottom: -2rem;
}

.IconQuant{
  width: 45px;
  height:45px;
  padding-left:20px;
  padding-right: 15px;
  padding-top: 10px;
}

.Estrelas,.Clientes,
.Historia,.Pessoas{
    display:flex;
}

.Historia,.Pessoas,
.Clientes,.Estrelas 
.Number{
    color:#C9A14A;
}

.TextosQuant{
display:flex;
justify-content:space-between;
padding-left: 1rem;
padding-right: 1.5rem;
}

.Text{
 color:#fff;
 font-size: 11px;
 font-family:Arial, Helvetica, sans-serif;
 font-weight: 400;
 text-transform: uppercase;
}

.Linha3{
    width: 1px;
    height: 3rem;
    background-color: #C9A14A;
    margin: 20px auto;
    position: relative;
    opacity: 40%;
}



/* Seção de Contato */

.ContatoSection {
align-items: center;
  display:flex ;
  flex-direction: column;
  width: 100%;
  height: 700px;
  background-color: #0a0a0a;
  margin-bottom: -1.39rem;
}

.ContatoSection h1{
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: -0.5rem;
}

.ContatoSection h1 strong{
color: #C9A14A;
padding-right: 10px;
}

.ContatoSection .SubtituloContato{
  color:#fff;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 2rem;
}

.ContatoSection .Icon{
  padding-top: 15px;
  width: 38px;
  height: 36px;
  margin-top: 11px;
  padding-left: 5px;
}

.TextIcon{
  display: flex;

}
